* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    align-items: center;
    flex-direction: row;
}

.card {
    margin-bottom: 20px;
}

.container  {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card-body h1 {
    font-size: 2rem;
}